# Игнорирование виртуального окружения
venv/
.env
*.pyc
__pycache__/

# Игнорирование зависимостей
Pipfile
Pipfile.lock
requirements.txt

# Логи и артефакты сборки
logs/
*.log
dist/
build/
*.egg-info/